html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    overflow: auto;
    background: radial-gradient(ellipse at bottom, #000000 0%, #090A0F 100%);
    height: 110vh;
    background-color: rgb();
    gap: 0px;
    z-index: 999;
    margin: 0;
    padding: 0;
}
#home{
    z-index: 0;
    height: 110vh;
}
.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105vh;
    pointer-events: none;
    z-index: -1;
}

.star {
    position: fixed;
    background: white;
    border-radius: 50%;
    animation: twinkle linear infinite;
    z-index: 1;
    height: 105vh;
}

@keyframes twinkle {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
#start {
    font-size: 3rem;
    color: aliceblue;
    margin-left: 29%;
    margin-top: 7rem;
}
#port{
    z-index: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    gap: 0px;
    background-color: rgb(12, 12, 12);
}
#Trey{
    font-size: 3rem;
    color: aliceblue;
    margin-left: 29%;
    margin-top: -1rem;
}
#portfolio{
    color: aliceblue;
    font-size: 30px;
    margin-left: 29%;
    
}
#circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(pic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 60%;
    margin-top: -6%;
    z-index: 99;
}
#bar{
    background-color: #000000 0%;
    background: transparent;
    backdrop-filter: blur(10px);
    margin-top: 0px;
    overflow: hidden;
    top: 0%;
    width: auto;
    z-index: 9999;
    position: fixed;
    overflow: hidden;
    padding: 15px;
    width: 100%;
}
#idk{
    position: sticky;
    cursor: pointer;
    color: aliceblue;
    font-size: 25px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
    z-index: 99999;
    text-decoration: none;
}
#idk::after{
    position: absolute;
    content: "";
    inset: 0;
    background: aliceblue;
    scale: 1 0;
    z-index: 999999;
    transition: 0.45s;
    border-radius: 10px;
}
#idk:hover {
    color: black;
    background-color: aliceblue;
    border-radius: 10px;
    transition: 0.45s;
    inset: 0;
    content: "";
    scale: 1 0;
}
#navbar:hover::after {
    scale: 1 1;
}
#about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    color: aliceblue;
    margin-top: -20vh;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    background-color: #2b1010;
}
#abtd{
    height: 80%;
    width: 80%;
    background-color: rgb(196, 147, 88);
    border-radius: 90px;
}
#abtme{
    font-size: 2.6rem;
    margin-top: 10rem;
    margin-left: 10%;
}
#selft{
    font-size: 2.6rem;
    margin-top: -1.5rem;
    margin-left: 10%;
    z-index: 999;
}
#ik{
    font-size: 2.6rem;
    margin-top: -1.5rem;
    margin-left: 10%;
}
#abtpic{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 70%;
    margin-top: -15vh;
    background-image: url(abt.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
}
#footer{
    background-color: #000000 0%;
    background: transparent;
    backdrop-filter: blur(10px);
    height: rem;
    width: 90%;
}
#work{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 0px;
    color: aliceblue;
    display: flex;
    background-color: rgb(44, 32, 32);
    z-index: 0;
}
#tp{
    text-align: center;
}
#pjd{
    height: 60vh;
    width: 70rem;
    background-color: rgb(112, 20, 20);
    border-radius: 50px;
    z-index: 1;
}
#pj1{
    height: 13vh;
    width: 13vh;
    background-color: aliceblue;
    color: black;
    margin-left: 7rem;
    border-radius: 20px;
    text-align: center;
    margin-top: 4vh;
}
#pj1t{
    color: aliceblue;
    margin-left: 30vh;
    margin-top: -10vh;
}
#pj2{
    height: 13vh;
    width: 13vh;
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    text-align: center;
    margin-left: 7rem;
    margin-top: 12vh;
}
#pj2t{
    margin-left: 30vh;
    margin-top: -10vh;
}
#pj3{
    height: 13vh;
    width: 13vh;
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    text-align: center;
    margin-left: 7rem;
    margin-top: 12vh;
}
#pj3t{
    margin-left: 30vh;
    margin-top: -10vh;
}
#services{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(78, 28, 28);
}
#serd{
    height: 50%;
    width: 50%;
    background-color: rgb(92, 19, 6);
    border-radius: 50px;
}
#here{
    text-align: center;
}
#ms{
    text-align: center;
}
#picdiv{
    text-align: center;
    display: flex;
    margin: 0 auto;
}
#pic1{
    height: 15vh;
    width: 15vh;
    background-color: #fff;
    margin-left: 15vh;
    border-radius: 20px;
    margin-top: 5vh;
    background-image: url(pic1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#pic2{
    height: 15vh;
    width: 15vh;
    background-color: #fff;
    margin-left: 10vh;
    border-radius: 20px;
    margin-top: 5vh;
    background-image: url(pic3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#pic3{
    height: 15vh;
    width: 15vh;
    background-color: #fff;
    margin-left: 10vh;
    border-radius: 20px;
    margin-top: 5vh;
    background-image: url(pic2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#contact{
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: aliceblue;
    background-color: rgb(53, 21, 21);
}
#forms{
    height: 90%;
    width: 100%;
}
#emb{
    height: 40vh;
    width: 20%;
    background-color: #301c1c;
    border-radius: 8%;
    margin-left: 15rem;
    margin-top: 6vh;
    padding-top: 1.5vh;
}
#cont{
    text-align: center;
    font-size: 30px;
    margin-top: 5vh;
}
#em{
    margin-left: 9.5rem;
    margin-bottom: 1rem;
}
#first{
    border-radius: 8px;
    border-color: #2b1010;
    border-width: 2px;
    margin: 0 auto;
    margin-top: 1vh;
    margin-left: 6rem;
}
#last{
    border-radius: 8px;
    border-color: #2b1010;
    border-width: 2px;
    margin: 0 auto;
    margin-top: 2vh;
    margin-left: 6rem;
}
#email{
    border-radius: 8px;
    border-color: #2b1010;
    border-width: 2px;
    margin: 0 auto;
    margin-top: 2vh;
    margin-left: 6rem;
}
#message{
    border-radius: 8px;
    border-color: #2b1010;
    border-width: 2px;
    margin: 0 auto;
    margin-top: 2vh;
    margin-left: 3.5rem;
}
#submit{
    border-radius: 8px;
    border-color: #2b1010;
    border-width: 2px;
    margin: 0 auto;
    align-self: auto;
    margin-top: 2vh;
    margin-left: 8.5rem;
}